<h2>Edit Trip for <%= @trip.passenger.name %></h2>

<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |field, message| %>
      <li>
        <strong><%= field.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @trip do |f| %>
<%= f.label :driver %>
<%= f.select :driver_id, Driver.all.map { |driver| [driver.name, driver.id]} %><br/><br/>

<%= f.label :date %>
<%= f.date_field :date %><br/><br/>

<%= f.label :rating %>
<%= f.select :rating, [[1], [2], [3], [4], [5]], {}, {class: "form-control"} %><br/><br/>

<%= f.label :cost %>
$<%= @trip.cost.to_f/100 %><br/><br/>

<%= f.submit %>
<% end %>
