<h1>Trips#index</h1>
<p>Find me in app/views/trips/index.html.erb</p>

<%= @trips.first.driver.name %>

<%= link_to "Drivers", drivers_path %>
<%= link_to "New Driver", new_driver_path %>
<%= link_to "Passengers", passengers_path %>
<%= link_to "New Passenger", new_passenger_path %>
