<h2>New Trip for <%= @passenger.name %></h2>

<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |field, message| %>
      <li>
        <strong><%= field.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @trip do |f| %>
<%= f.label :driver %>
<%= f. :driver, Driver.all.sample %><br/><br/>

<%= f.label :date %>
<%= f.date_field :date %><br/><br/>

<%= f.label :rating %>
<%= f.select :rating, [[1], [2], [3], [4], [5]], {}, {class: "form-control"} %><br/><br/>

<%= f.label :cost %>
<%= f.text_field :cost %><br/><br/>

<%= f.submit %>
<% end %>
