<nav>
  <ul>
    <li>
      <%= link_to "Home", trips_path %>
    </li>
  </ul>
</nav>
<header>
  <h1>Trip Details</h1>
</header>

<main>
  <table>
    <tr>
      <th>
        Trip ID
      </th>
      <th>
        Date
      </th>
      <th>
        Driver
      </th>
      <th>
        Passenger
      </th>
      <th>
        Cost
      </th>
      <th>
        Rating
      </th>
      <th>
        LINKS
      </th>
    </tr>
      <tr>
        <td><%= @trip.id %></td>
        <td><%= @trip.date %></td>

        <td><%= link_to @trip.driver.name, driver_path(@drivers.find_by(id: @trip.id))%></td>

        <td><%= link_to @trip.passenger.name, passenger_path(@passengers.find_by(id: @trip.id))%></td>

        <td>$<%= @trip.cost.to_f/100 %></td>
        <td><%= @trip.rating %></td>
        <td>
          LINKS
        </td>
      </tr>
  </table>
</main>
