<nav>
  <ul>
    <li>
      <%= link_to "Home", trips_path %>
    </li>
    <li>
      <%= link_to "Add Driver", new_driver_path %>
    </li>
  </ul>
</nav>

<h1><%= @driver.name %></h1>
<section>
  <p>
    <strong>Average Rating:</strong> <%= @driver.avg_rating %>
  </p>
  <p>
    <strong>Total Earnings:</strong> $<%= @driver.total_earnings %>
  </p>
  <p>
    <strong><%= link_to "Edit", edit_driver_path %></strong>
    <strong><%= link_to "Delete", driver_path(@driver.id), method: :delete, data: { confirm: 'Are you sure you want to delete this driver?' } %></strong>
  </p>
</section>

<main>
  <table>
    <tr>
      <th>
        Trip ID
      </th>
      <th>
        Driver
      </th>
      <th>
        Passenger
      </th>
      <th>
        Date
      </th>
      <th>
        Rating
      </th>
      <th>
        Cost
      </th>
    </tr>
    <% @driver.trips.all.each do |trip| %>
      <tr>
        <td><%= link_to trip.id, trip_path(trip.id) %></td>
        <td><%= @driver.name %></td>
        <td>
          <%if trip.passenger_id %>
            <%= link_to @passengers.find(trip.passenger_id).name, passenger_path(trip.passenger_id) %>
            <% else %>
            <%= link_to "Deleted passenger", passengers_path %>
          <%end%>
      </td>
      <td><%= trip.date %></td>
      <td><%= trip.rating %></td>
      <td><%= number_to_currency(trip.cost/100) %></td>
    <%end%>
    </tr>
  </table>
</main>
